{% extends 'bareminimum.html' %}
{% block page %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light pb-md-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">canteenmanager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav col-12 col-lg my-2 justify-content-start my-md-0 text-small nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('clients.open_scan_mode') }}">
            <i class="icon icon_view-barcode icon-main bi d-block mx-auto mb-1"></i>
              Scan mode
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('clients.browse_clients') }}">
            <i class="icon icon_edit-group icon-main bi d-block mx-auto mb-1"></i>
              Clients
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="icon icon_code-block icon-main bi d-block mx-auto mb-1"></i>
              Classes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="icon icon_view-financial-account-credit-card icon-main bi d-block mx-auto mb-1"></i>
              Subscriptions
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="icon icon_document-print icon-main bi d-block mx-auto mb-1"></i>
              Print
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="icon icon_configure icon-main bi d-block mx-auto mb-1"></i>
              Configure
          </a>
        </li>
      </ul>
      <ul class="navbar-nav col-12 col-lg my-2 justify-content-end my-md-0 text-small nav-tabs">
        <li class="align-self-center"><span class="align-middle">{% if g.user %}{{ g.user['username'] }}{% else %}[username]{% endif %}</span></li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">
            <i class="icon icon_system-shutdown icon-main bi d-block mx-auto mb-1"></i>
              Exit
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <!--<div class="b-example-divider"></div> -->
  <section class="content">
   <header class="container">
{% block header %}{% endblock %}
   </header>
   {% for message in get_flashed_messages() %}
     <div class="flash">{{ message }}</div>
   {% endfor %}
  {% block toolbar %}{% endblock %}
    <div class="container my-2 py-2">
   {% block content %}{% endblock %}
    </div>
  </section>
{% endblock %}